@import "src/styles/colors";

.card {
  background-color: $THEME_WHITE;
  border-radius: 7px;
  height: 275px;
  width: 400px;
  padding: 20px 10px;
  position: relative;

  &-logo {
    height: 18px;
    margin-left: 5px;
    margin-right: 5px;

    &-mir {
      transform: scale(0.9);
    }
  }

  &-number {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &-bottom {
    display: flex;
    padding-bottom: 30px;
  }
}

.assets {
  display: flex;
  padding-top: 5px;
  padding-bottom: 30px;
  justify-content: flex-end;
}